.SearchbarContainer {
    margin: 16px;
    background-color: #efefef;
    height: 40px;
    min-width: 537px;
    max-width: 537px;
    border-radius: 8px;
    box-sizing: border-box;
    border:none;
    display: inline-block;
    padding: 5px 8px;
    display: -webkit-box;
}

.SearchbarContainer .MobileCancel {
    position: absolute;
    right: 35px;
    top: 28px;
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
    font-size: 13px;
    padding: 0px;
    color: #848484;
    outline: none;
}

.SearchbarContainer .ContainerDisplay {
    display: -webkit-inline-box;
}

.SearchbarContainer img {
    height: 20px;
    width: 20px;
    margin-right: 16px;
    margin-left: 8px;
    margin-top: 5px;
}


.Searchbar {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #282c34;
    height: 30px;
    width: 90%;
    display: block;
}

.Suggestions {
    display: none;
}

.Searchbar:focus {
    outline: none;
}

.Searchbar:focus .Suggestions {
    display: block;
}



